# Ядро для работы с тензорами и нейросетями
torch>=2.0.0
torchvision>=0.15.0

# Модель семантической сегментации (SegFormer)
transformers>=4.30.0

# Компьютерное зрение и геометрия (Маски, контуры, полигоны)
opencv-python>=4.8.0
numpy>=1.23.0
Pillow>=9.0.0

# Утилиты
tqdm>=4.64.0
